@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
    font-family: 'Neue Machina';
    src: url('../fonts/NeueMachina-Regular.otf');
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: black;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.main {
    padding: .5rem;
    margin: .5rem;
    border: 1px solid #fff;
    border-radius: .5rem;
}

.main::before {
    content: '';
    background-image: url(../images/background.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 150vw;
    height: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.main::after {
    content: '';
    background-image: url(../images/background.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 150vw;
    height: 200vw;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: rotate(180deg);
}

@media only screen and (min-width: 768px) {
    .main {
        max-width: 1024px;
        margin: 1rem auto;
    }

    .main::before, .main::after {
        width: 70vw;
    }

}